@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@200;300;400;500;600;700;800&display=swap');
*{
 margin:0;
 padding:0;
 border:0;
 user-select:none;
 box-sizing:border-box;
 text-decoration:none;
  outline: none;
}


#app {
  min-height: 100vh;
  font-family: Lexend,sans-serif;
  font-weight: 300;
  letter-spacing: 2px;
  margin: 0 auto;
  font-weight: normal;
  background-color: $offwhite;
}

button,input,textarea{
  font-size: 1rem;
  font-weight: 300;
  font-family: Lexend,sans-serif;
  border-radius: $cornerRadius;
}

form{
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.input{
  >label{
    display: block;
    font-size: 0.875rem;
    opacity: 0.6;
    text-transform: capitalize;
    margin-bottom: 0.4rem;
  }
  >input,textarea{
    padding: 0.875rem 1rem;
    width: 100%;
    background-color: inherit;
    border: 1px solid rgba($color: black, $alpha: 0.2);
    &:focus{
      outline: none;
    }
  }
}
