$offwhite:#F9F9F9;
$purple:#8957F3;
$line-02: 1px solid rgba($color: black, $alpha: 0.2);
$line-01:1px solid rgba($color: black, $alpha: 0.1);
$cornerRadius:6px;
$shadow:0 0 12px rgba($color: rgb(37, 24, 110), $alpha: .11);